body{

margin:0;
font-family:Arial;
background:#0D1B2A;
color:white;

}

header{

display:flex;
justify-content:space-between;
padding:20px;
background:#1A1A1A;

}

nav a{

margin:10px;
color:white;
text-decoration:none;

}

.hero{

text-align:center;
padding:120px 20px;

}

.btn{

background:#00b4ff;
padding:15px 30px;
color:white;
text-decoration:none;
border-radius:5px;

}

.features{

display:flex;
justify-content:center;
gap:20px;
padding:40px;

}

.card{

background:#1A1A1A;
padding:30px;
border-radius:10px;
width:250px;
text-align:center;

}

.form-box{

width:350px;
margin:auto;
margin-top:100px;
display:flex;
flex-direction:column;
gap:15px;

}

input{

padding:12px;

}

button{

padding:12px;
background:#00b4ff;
border:none;
color:white;
cursor:pointer;

}
